{
  "presets": [
    "stage-3",
    "es2015-node6"
  ],
  "plugins": [
    "transform-decorators-legacy",
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": [
          "Error"
        ]
      }
    ]
  ],
  "env": {
  }
}