{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "no-continue": [
      0
    ],
    "comma-dangle": [
      1,
      "never"
    ],
    "spaced-comment": [
      0,
      "always"
    ]
  }
}